* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loggg {
  border-radius: 10px;
  padding: 5px 14px;
  border: none;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 500px;
}
.loggg:hover {
  border-radius: 10px;
  padding: 5px 14px;
  border: none;
  background-color: red;
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 500px;
  transition: 0.3s;
}
.dil:hover {
  background-color: red;
  border: 1px solid red;
}
.admin-paragraf {
  background-color: rgb(37, 157, 157);
  height: 90px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
.mahsulot-nomi h3 {
  margin-left: 220px;
  font-weight: 500;
  padding-top: 5px;
  color: white;
  padding-bottom: 5px;
}
.mahsulot-nomi {
  background-color: rgb(37, 157, 157);
}
.admin-paragraf h1 {
  font-size: 40px;
}
.ion {
  width: 700px;
  height: 35px;
  margin-left: 220px;
  border: none;
  padding-left: 10px;
}
.inp-btn button {
  width: 700px;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 220px;
  margin-bottom: 40px;
}
.inp-btn button:hover {
  width: 700px;
  background-color: rgb(57, 57, 166);
  padding: 10px;
  border: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 220px;
  transition: 0.5s;
}
